html,
body {
  height: 100%;
}

body {
  margin: 0px;
  color: #34495e;
}

.helper {
  display: inline-block;
  height: 100%;
  /* 세로 정렬을 마무리 하고 주석 처리 해준다 */
  width: 10px;
  background-color: yellow;
  vertical-align: middle;
}

.js-weather {
  color: white;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  display: block;
  float: right;
}

.js-clock {
  text-align: center;
  font-size: 70px;
  color: white;

  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  /* width: 100px; */
  /* 세로 정렬을 위해서 width 조절 */
}

.js-clock h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.js-greetings {
  margin: 0px;
  text-align: center;
  font-size: 50px;
  color: white;
}

.js-toDoForm {
  text-align: center;
}

.js-toDoList {
  text-align: center;
  padding: 0px;
  color: white;
  font-size: 20px;
}

.js-toDoList {
  list-style: none;
}

.btn {
  cursor: pointer;
}
.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

/* 두개의 input 태그 개별로 선택하는 방법 공부필요 */
input[type="text"] {
  /* 작성하는 글씨 색상 */
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
  /* text 상자를 투명하게 만들어주는 효과 */
  background-color: transparent;
  /* 테두리 없애고 */
  border: none;
  /* 밑에 흰색 선만 남기기 */
  border-bottom: 2px solid white;
  /* 글씨 쓸때 정렬 */
  text-align: center;
}

/* input 태그 클릭시 테두리 효과 뜨는거 없애기 */
input:focus {
  outline: none;
}

input::placeholder {
  /* font-size: 30px; */
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
